header {
  background-color: var(--color-bg-primary);
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 30px;
}

.listing-nav li {
  display: inline-block;
  padding-right: 20px;
  font-size: 16px;
  color: var(--color-font-primary);
}

.menu-item {
  font-weight: 400;
}

.menu-active {
  font-weight: bold;
}